<ion-card class="clue-card" @heroState="state" (click)="toggleState()">
  <ion-card-content>
    <ion-list>
      <ion-list-header>
        <ion-icon name="locate" item-left></ion-icon>What am I?
      </ion-list-header>
      <ion-item><ion-icon name="unlock" item-left></ion-icon><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></ion-item>
      <ion-item class="locked"><ion-icon name="lock" item-left></ion-icon><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Incididunt ut labore et dolore magna aliqua.</p></ion-item>
      <ion-item class="locked"><ion-icon name="lock" item-left></ion-icon><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo ut labore et dolore magna aliqua.</p></ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>