.game{
	background: url('../../img/003-subtle-light-pattern.jpg') transparent;

	.scoreboard{

		@media screen and (max-width: 420px) {//$grid-responsive-sm-break
		    font-size:1.1rem;
	  	}
		margin: -16px -16px 0 -16px;
	    background: #ccc;
	    padding: 5px 5px 5px 15px;
	    
		.label{
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1em;
			margin-right:7px;
		}
		.scoreboard-group{
			padding-right:10px;
			ion-icon{
				padding-right: 4px;
			    font-size: 1.6em;
			    vertical-align: middle;
			    color: #8D0B56;
			}
			&.right{
				float:right;
				padding-right:0;
			}
		}
		.total-score{
			&.changed{
				animation: total-score-draw-attention 1s linear;
			}
		}
	}

	ion-label{
		white-space: normal;
		margin: 6px 8px 6px 0;
	}
	.item-card-wrapper{
		-webkit-transition: all .3s ease-in-out;
			   -moz-transition: all .3s ease-in-out;
			    -ms-transition: all .3s ease-in-out;
			     -o-transition: all .3s ease-in-out;
			        transition: all .3s ease-in-out;
		position: relative;
		&.remove-me{
			ion-card.front{
				display: none;
			}   
			ion-card.back{
				transition-delay: 0s;
				position: relative;
			}	
		}
		&.found{
			ion-card.front{
				-webkit-transform: rotateY(90deg);
				   -moz-transform: rotateY(90deg);
				    -ms-transform: rotateY(90deg);
				     -o-transform: rotateY(90deg);
				        transform: rotateY(90deg);
			}
			ion-card.back{
			    opacity:1;
			    -webkit-transform: rotateY(0deg);
				   -moz-transform: rotateY(0deg);
				    -ms-transform: rotateY(0deg);
				     -o-transform: rotateY(0deg);
				        transform: rotateY(0deg);
			}
		}
		ion-card {
			position: relative;
			-webkit-transition: all .3s ease-in-out;
			   -moz-transition: all .3s ease-in-out;
			    -ms-transition: all .3s ease-in-out;
			     -o-transition: all .3s ease-in-out;
			        transition: all .3s ease-in-out;
			&.back{
				transition-delay: .3s;
			    position: absolute;
			    top: 0;
			    opacity:0;
			    -webkit-transform: rotateY(90deg);
				   -moz-transform: rotateY(90deg);
				    -ms-transform: rotateY(90deg);
				     -o-transform: rotateY(90deg);
				        transform: rotateY(90deg);
				background: #F68B00;
		        ion-card-content{
		        	background: none;
		        	color:#fff;
		        	margin-top: 15px;
		        	.left{
		        		img{
			        		max-width: 90%;
			        		margin:10px auto;
			        		max-height:150px;
			        	}
		        		float: left;
					    width: 40%;
					    text-align: right;
					    padding-right: 10px;
					    ion-icon{
					    	font-size:3em;
					    }
		        	}
		        	.right{
		        		width: 60%;
					    padding-left: 5px;
					    color: #fff;
					    float:right;
					    margin-bottom: 15px;
					    h1,p{
					    	color:#fff;
					    }
		        		img{
		        			margin-top:50px;
		        		}
		        	}
		        }
			}	

			ion-card-content{
				background: #fff;
				padding:5px 10px 8px 10px;
				ion-list-header{
					text-transform: uppercase;
					font-size: 1.2rem;
	    			font-weight: bold;
	    			
	    			ion-icon{
	    				font-size: 2.5em;
    					margin: 8px 0;
	    			}
	    			.label{
	    				margin-top:4px;
	    				display: inline-block;
	    			}
	    			.right{
	    				float:right;
	    				ion-badge{
	    					margin:4px;
	    					background-color:#F68B00;
	    					&.changed{
	    						animation: card-score-draw-attention 1s linear;
	    					}
	    				}
	    			}
				}
			}
		}
	}

	ion-list{
		ion-icon[item-left] + .item-inner{
			margin-left:12px;
		}

		.item{
			cursor:pointer;

			.item-icon{
				margin:10px 0;
				color:#F68B00;
              -webkit-transition: all .2s ease-in-out;
			   -moz-transition: all .2s ease-in-out;
			    -ms-transition: all .2s ease-in-out;
			     -o-transition: all .2s ease-in-out;
			        transition: all .2s ease-in-out;
				
			}
			border-bottom:1px solid #ccc;
			&:last-child{
				border-bottom: 0px;
			}
			.item-inner{
				border:0px;
			}
			p{
				-webkit-transition: all .2s ease-in-out;
			   -moz-transition: all .2s ease-in-out;
			    -ms-transition: all .2s ease-in-out;
			     -o-transition: all .2s ease-in-out;
			        transition: all .2s ease-in-out;
			}
			&.locked{
				.item-icon{
					color:#A1796F;
				}
				p{
					//color: transparent;
   					//text-shadow: 0 0 5px rgba(0,0,0,0.5);
   					-webkit-filter: blur(4px);
				}
			}
		}
	}
}
@keyframes card-score-draw-attention {
  0%   { background-color:#F68B00; }
  10% { background-color:#8D0B56; }
  50%   { background-color:#F68B00; }
  60% { background-color:#8D0B56; }
  100%   { background-color:#F68B00; }
}

@keyframes total-score-draw-attention {
  0%   { background-color:#8D0B56; }
  10% { background-color:#F68B00; }
  50%   { background-color:#8D0B56; }
  60% { background-color:#F68B00; }
  100%   { background-color:#8D0B56; }
}