.splash-page{
	background: url('../../img/slide-bg.png') no-repeat #F68B00;
	background-position: 0 -30px;
	background-size:cover;
	@media screen and (min-width: $grid-responsive-sm-break) {
		background: url('../../img/slide-bg-land.png') transparent;
		background-size:cover;
	}
	.slide-image{
		padding:0 14%;
		margin:40px 0 0px 0;
		&.logo{
			margin-top:16px;
			max-width:86%
		}
		&.instruction{
			padding:0 20%;
		}
	}
	.slide-zoom{
		height:90%;
		h1{
			text-transform: uppercase;
			border-bottom: 1px solid #fff;
			display: inline-block;
		    font-size: 1.8em;
		    padding-bottom: 6px;
		    line-height: 1em;
		    margin-bottom: 0px;
		}
		p{
			margin-top:10px;
		}
		@media screen and (min-width: $grid-responsive-sm-break) {//$grid-responsive-sm-break
			
			text-align: left;
		    img{
	    	    padding: 0;
			    float: left;
			    width: 34%;
			    margin-left: 30px;
			    margin-right: 30px;
		    }
		    h1{
		    	margin-top: 50px;
		    }
	  	}

	}
	.toolbar{
		position:absolute;
	}
	.toolbar-background{
		background:none;
	}
	.slide-skip-button{
		color:#40395F;
	}
	h1,h2,h3,p{
		margin-right:10%;
		margin-left:10%;
		color:#fff;
	}
	.button-large{
		margin-top:10px;
	}
}