<ion-header>
  <ion-navbar>
    <ion-title>Clues</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="clues">
  <h1>Clues To Find The Next Item</h1>

  <ion-card class="clue-card" *ngFor="let clue of clues">
    <ion-card-content>{{clue}}</ion-card-content>
  </ion-card>

  <p id="message">{{message}}</p>
  <ion-card class="beacon-card" *ngFor="let beacon of foundBeacons">
    <div class="beacon-distance beacon{{beacon.distance}}"></div>
    <ion-card-header>{{beacon.name}}</ion-card-header>
    <ion-card-content>DISTANCE: {{beacon.distance}}</ion-card-content>
  </ion-card>
</ion-content>